<%- include('./fragments/header.ejs') %>
    <main>
    <h2>Strona głowna</h2>
    <h4>NAJCIEKAWSZE POLISY ŚWIATA</h4>
    <p>
        Ubezpieczyć można się prawie od wszystkiego, pod warunkiem, że znajdzie się towarzystwo ubezpieczeniowe, które ustali odpowiednie warunki w polisie. Dowodem na to są ciekawostki ubezpieczeniowe z całego świata.

 

Do najciekawszych przypadków należą np. od utraty sprawności jakiejś części ciała albo od utraty możliwości uprawiania sportu (popularne zwłaszcza wśród światowej sławy sportowców). Przykładowo Christiano Ronaldo ubezpieczył swoje nogi na kwotę ponad 100 mln euro, a Robert Lewandowski 12 mln euro (50 mln złotych).

 

Z wykupywania wielomilionowych polis znani są szczególnie celebryci. Przykładowo Jennifer Lopez ubezpieczyła swoją pupę na równowartość 27 mln dolarów. Z kolei gitarzysta The Rolling Stones Keith Richards swój środkowy palec na sumę 1,6 mln dolarów obawiał się swoich wrogów, którym zbyt często pokazuje ten palec. Piosenkarz Tom Jones nie martwi się utratą głosu, a jedynie włosów na klatce piersiowej, które ubezpieczył aż na 7 milionów dolarów. Modelka Heidi Klum oszacowała wartość swojej prawej nogi na 1,2 miliona dolarów, a lewej niewiele mniej, bo zaledwie na 1 milion dolarów. Powodem różnicy jest mała blizna, która według Heidi – lub ubezpieczyciela – obniża wartość lewej nogi o 200 tys. dolarów.

 

W Polsce najbardziej nietypowa polisa to ochrona wychowawcy kolonijnego na wypadek zajścia w ciążę podopiecznej podczas wyjazdu.

 

Szczególnie w USA towarzystwa ubezpieczeniowe pozwalają klientom kupować naprawdę dziwne polisy. Jak choćby od porwania przez kosmitów – podobno z tej oferty korzysta 2 tys. osób rocznie. Równie nieoczekiwanym gościem może być Święty Mikołaj, który podczas swojej wizyty uszkodzi komin – dlatego za oceanem można zabezpieczyć się na ten wypadek.

 

Tetley – znany producent herbaty, postanowił ubezpieczyć na 1 milion funtów brytyjskich kubki smakowe swojego testera – Sebastiana Michaelisa, który przez 9 lat zwiedzał świat próbując różnych odmian tego napoju, a następnie przez 5 lat szykował się do zastania głównym testerem.

 

Całkiem dobrze sprzedają się też polisy od stresu wywołanego klęską ukochanej drużyny piłkarskiej w Mistrzostwach Świata.

 

Wśród innowacyjnych produktów możemy znaleźć także ubezpieczenie biletu na wyśniony mecz lub koncert. W razie gdyby miał przepaść, bo akurat szef wyśle nas w delegację albo gwiazda wieczoru utknie na antypodach, imprezy nie zaliczymy, ale przynajmniej nasz budżet nie ucierpi, bo ubezpieczyciel zwróci pełną kwotę za niewykorzystany bilet.

 

Lista dziwnych polis jest niewątpliwie bardzo długa. W branży krąży powiedzenie, że można ubezpieczyć niemal wszystko. Oczywiście dzieje się to w granicach obowiązującego w danym kraju prawa i regulacji, ale nie zawsze w zgodzie ze zdrowym rozsądkiem.
    </p>
    </main>
<%- include('./fragments/footer.ejs') %>